section {
    background: beige;
    min-height: 380px;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid lightcoral;
}

form {
    height: 100%;
}

label, input, textarea {
    display: block;
}

#message {
    resize: none;
}

.container {
    margin: 16px 0; /*first value is top and bottom, second is for right and left*/
}