#about-paragraph {
    background-color: rgb(247, 4, 4); 
    color: aliceblue;
    padding: 64px;
    border-radius: 8px;
    font-size: 16px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact-header {
    color: rgb(21, 20, 20);
    padding: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}